html {


}

body {
background-colour: #C5ECFF

}

header {
background-color: #A7E3E8
}

nav {
background-color: #A7C1E8

}
main {
background-color:

}

article {
background-color:

}

footer{
background-color: #A7E3E8

}

